
.ipynb_checkpoints/pysnpec_arcis-checkpoint.py
__pycache__/simulator.cpython-37.pyc
.ipynb_checkpoints/simulator-checkpoint.py
.DS_Store
.ipynb_checkpoints/Corner_plots-checkpoint.ipynb
Corner_plots.ipynb
Evidence.ipynb
*.ipynb
*.pdf
/dev_tests
/.ipynb_checkpoints
/.jupyter
/__pycache__
floppity-Copy1.py
pysnpec_2term.py
pysnplre_arcis.py
simulator_pRT.py
TauREx.py
Untitled.ipynb
TauREx.py
simulator_pRT.py
simDMS_experiment.ipynb
pysnplre_arcis.py
pysnpec_2term.py
J1828-Kuhnle.ipynb
HD189733b.ipynb
gitversion.h
floppity-Copy1.py
dev_tests/dev_test_em_synth.dat
Dev_test.ipynb
coverage_plot.pdf
Analysis.ipynb
__pycache__/petitRADTRANS.cpython-37.pyc
__pycache__/modules.cpython-37.pyc
__pycache__/floppityFUN.cpython-37.pyc
.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
.jupyter/desktop-settings.json
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/simulator_pRT-checkpoint.py
.ipynb_checkpoints/simDMS_experiment-checkpoint.ipynb
.ipynb_checkpoints/pysnplre_arcis-checkpoint.py
.ipynb_checkpoints/pysnpec_2term-checkpoint.py
.ipynb_checkpoints/J1828-Kuhnle-checkpoint.ipynb
.ipynb_checkpoints/HD189733b-checkpoint.ipynb
.ipynb_checkpoints/floppityFUN-checkpoint.py
.ipynb_checkpoints/floppity-checkpoint.py
.ipynb_checkpoints/Evidence tests-checkpoint.ipynb
.ipynb_checkpoints/Dev_test-checkpoint.ipynb
.ipynb_checkpoints/Analysis-checkpoint.ipynb
.ipynb_checkpoints/Analysis-checkpoint.ipynb
.ipynb_checkpoints/Dev_test-checkpoint.ipynb
.ipynb_checkpoints/Evidence tests-checkpoint.ipynb
.ipynb_checkpoints/floppity-checkpoint.py
.ipynb_checkpoints/floppityFUN-checkpoint.py
.ipynb_checkpoints/HD189733b-checkpoint.ipynb
.ipynb_checkpoints/J1828-Kuhnle-checkpoint.ipynb
.ipynb_checkpoints/pysnpec_2term-checkpoint.py
.ipynb_checkpoints/pysnplre_arcis-checkpoint.py
.ipynb_checkpoints/simDMS_experiment-checkpoint.ipynb
.ipynb_checkpoints/simulator_pRT-checkpoint.py
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.jupyter/desktop-settings.json
.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
__pycache__/floppityFUN.cpython-37.pyc
__pycache__/modules.cpython-37.pyc
__pycache__/petitRADTRANS.cpython-37.pyc
Analysis.ipynb
coverage_plot.pdf
Dev_test.ipynb
dev_tests/dev_test_em_synth.dat
floppity-Copy1.py
gitversion.h
HD189733b.ipynb
J1828-Kuhnle.ipynb
pysnpec_2term.py
pysnplre_arcis.py
simDMS_experiment.ipynb
simulator_pRT.py
TauREx.py
Untitled.ipynb
.ipynb_checkpoints/modules-checkpoint.py
