
.ipynb_checkpoints/pysnpec_arcis-checkpoint.py
__pycache__/simulator.cpython-37.pyc
.ipynb_checkpoints/simulator-checkpoint.py
.DS_Store
.ipynb_checkpoints/Corner_plots-checkpoint.ipynb
Corner_plots.ipynb
